body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f1f5f9;
    font-family:Arial;
}


.login-box{
    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px #ccc;
    text-align:center;
}


.login-box input{
    width:90%;
    padding:12px;
    margin:10px;
    border:1px solid #ddd;
    border-radius:5px;
}


.login-box button{
    width:95%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.login-box button:hover{
    background:#1d4ed8;
}
.sidebar{
    width:220px;
    height:100vh;
    background:#111827;
    color:white;
    position:fixed;
    padding:20px;
}


.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
}


.sidebar a:hover{
    background:#2563eb;
}


.main{
    margin-left:260px;
    padding:30px;
}


.dashboard{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}


.box{
    background:white;
    width:220px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 15px #ccc;
}


.box p{
    font-size:30px;
    color:#2563eb;
}
.add-product{
    background:white;
    padding:20px;
    margin-bottom:30px;
    border-radius:10px;
}


.add-product input{
    padding:10px;
    margin:5px;
}


.add-product button{
    padding:10px 20px;
    background:#16a34a;
    color:white;
    border:none;
}


table{
    width:100%;
    background:white;
    border-collapse:collapse;
}


th,td{
    padding:15px;
    border:1px solid #ddd;
    text-align:center;
}


.delete{
    background:red;
    color:white;
    border:none;
    padding:8px;
}
.approve{
    background:#2563eb;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
}

.approve:hover{
    background:#1d4ed8;
}
.approve{
    background:#2563eb;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
}

.approve:hover{
    background:#1d4ed8;
}
