body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f1f5f9;
    font-family:Arial;
}


.login-box{
    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px #ccc;
    text-align:center;
}


.login-box input{
    width:90%;
    padding:12px;
    margin:10px;
    border:1px solid #ddd;
    border-radius:5px;
}


.login-box button{
    width:95%;
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}


.login-box button:hover{
    background:#1d4ed8;
}
